# Gradle
.gradle/
build/


# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Java
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Documentation
docs/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
